<div class="container">
  <div class="row info" style="text-align:center;">
    <% unless notice.blank? %>
      <div class="col-xs-12 alert alert-info">
        <%= notice %>
      </div>
    <% end %>
  </div>

  <div class="resume">
    <header class="page-header">
      <h1 class="page-title">Relatórios de Vendas</h1>
      <small> <i class="fa fa-clock-o"></i>Último upload feito em: <time><%= @sales_group.last.created_at.strftime("%D %H:%M") %></time></small>
    </header>
    <div class="row">
      <div class="">
        <div class="panel panel-default">
          <div class="panel-heading resume-heading">
            <div class="bs-callout bs-callout-success">
              <h4>Subir novo Relatório</h4>
              <%= form_for(@upload, remote: true, multipart: true) do |f| %>
                <%= f.file_field :text_file, class:"btn btn-default" %>
                <%= f.submit "Subir Arquivo", class: 'btn btn-success' %>
              <% end %>
            </div>
            <% @sales_group.reverse_each do |groups| %>
              <div class="bs-callout bs-callout-success">
                <h4>Upload Feito em <%= groups.created_at.strftime("%D %H:%M") %> (Receita Bruta R$<%= groups.total %>)</h4>
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Comprador</th>
                        <th>descrição</th>
                        <th>Preço Uniário</th>
                        <th>Quantidade</th>
                        <th>Endereço</th>
                        <th>Fornecedor</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% groups.sales.each do |sale| %>
                        <tr>
                          <td><%= sale.buyer_name %></td>
                          <td><%= sale.description %></td>
                          <td>R$<%= sale.unit_price %></td>
                          <td><%= sale.amount %></td>
                          <td><%= sale.full_address %></td>
                          <td><%= sale.provider_name %></td>
                        </tr>
                        <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
          <% end %>
          </div>

        </div>
      </div>

    </div>

  </div>
